@font-face {
  font-family: "Rb2.1b";
  src: local("Rb2.1b"),
    url("./fonts/Weber-Serif-Bold.ttf") format("woff");
  font-weight: bold;
}

body,
html {
  font-family: "Rb2.1b" !important;
  overflow: hidden;
  height: 100%;
  /* background-image: url("./assets/bg.gif"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

p {
  font-family: "Rb2.1b" !important;
}

button {
  font-family: "Rb2.1b" !important;
}

h5 {
  font-family: "Rb2.1b" !important;
}

table {
  font-family: "Rb2.1b" !important;

}