@font-face {
  font-family: "Rb2.1b";
  src: local("Rb2.1b"),
    url("./fonts/Weber-Serif-Bold.ttf") format("woff");
  font-weight: bold;
}

body,
html {
  font-family: "Rb2.1b" !important;
  overflow: hidden;
  height: 100vh;
  /* background-image: url("./assets/bg.gif"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  
}

p {
  font-family: "Rb2.1b" !important;
}

button {
  font-family: "Rb2.1b" !important;
}

h5 {
  font-family: "Rb2.1b" !important;
}

table {
  font-family: "Rb2.1b" !important;

}

.wheelContainer {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: calc(100vh - 52vw);
  left: 30%;
}

.wheelPodium {
  width: 100vw;
  height: 25vw;
  position: absolute;
  bottom: 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./assets/Podium.png');
  z-index: -10;
  filter: "drop-shadow(-4px 12px 12px #00000040)";
  scale:1;
  
}

@media only screen and (min-height: 100px) {
  .bannar {
    scale: 0.4;
    top: calc(50% - 26vw) !important
  }
  .wheelContainer {
    scale: 0.65;
    top: calc(100vh - 45vw) !important
  }
  .wheelPodium {
    scale: 1;
  }
}

@media only screen and (min-height: 500px) {
  .bannar {
    scale: 0.6;
    top: calc(50% - 34vw) !important

  }
  .wheelContainer {
    scale: 0.9;
    top: calc(100vh - 51vw) !important
  }
  .wheelPodium {
    scale: 0.9;
  }
}


@media only screen and (min-height: 750px) and (min-width:1000px) {
  .bannar {
    scale: 0.7;
    top: calc(50% - 35vw) !important

  }
  .wheelContainer {
    scale: 0.9;
    top: calc(100vh - 51vw) !important
  }

  .wheelPodium {
    scale: 1;
  }
}

@media only screen and (min-height: 750px) and (min-width:1300px) {
  .bannar {
    scale: 0.7;
    top: calc(50% - 32vw) !important

  }
  .wheelContainer {
    scale: 0.7;
    top: calc(100vh - 48vw) !important
  }
  .wheelPodium {
    scale: 1;
  }
}

@media only screen and (min-height: 1000px) and (min-width:750px) {
  .bannar {
    scale: 0.7;
    top: calc(50% - 34vw) !important

  }
  .wheelContainer {
    scale: 0.8;
    top: calc(100vh - 51vw) !important
  }

  .wheelPodium {
    scale: 1;
  }
}

@media only screen and (min-height: 1000px) and (min-width:1800px) {
  .bannar {
    scale: 0.7;
    top: calc(50% - 32vw) !important

  }
  .wheelContainer {
    scale: 0.75;
    top: calc(100vh - 48vw) !important
  }

  .wheelPodium {
    scale: 1;
  }
}