@font-face {
  font-family: "Rb2.1b";
  src: local("Rb2.1b"),
    url("./fonts/Weber-Serif-Bold.ttf") format("woff");
  font-weight: bold;
}

body,
html {
  font-family: "Rb2.1b" !important;
  overflow: hidden;
  height: 100vh;
  background-image: url('./assets//Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  z-index: -10;

}

p {
  font-family: "Rb2.1b" !important;
}

button {
  font-family: "Rb2.1b" !important;
}

h5 {
  font-family: "Rb2.1b" !important;
}

table {
  font-family: "Rb2.1b" !important;

}

.wheelParent {
  height: 95vh;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #000; */
}

.wheelParent .wheelContainer {
  height: 70%;
  position: relative;
  aspect-ratio: 1;
  bottom: -50px;
  z-index: 10;
}
.textContainer{
  position: absolute;
  width:25% ;
  height:40%;
  bottom:20px;
  /* background:#ffffff; */
  display:flex;
  justify-content:center;
}
.wheelParent .wheelPodium {
  width: 40%;
  height: 20%;
  position: relative;
  bottom: 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('./assets/Podium2.png');
  /* z-index: -1; */
  filter: "drop-shadow(-4px 12px 12px #00000040)";

}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .wheelContainer {
      max-height: 57vh;

  }
}}


@media only screen and  (max-width:900px) {
  .wheelParent{
    scale: 0.6;
  }
  .wheelParent .wheelPodium {
    width: 70%;

  }
  .textContainer{
    display: none;
  }

}